<h1>События</h1>

<div class="buffer-both">
  <%= link_to 'Создать событие', new_event_path, class: 'btn btn-success'%>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
  <!--объект @events мы позже пропишем в контроллере и в нем будет нужный нам список событий-->
  <!--collection значит вызвать один раз паршиал на каждом элементе объекта @events-->
</div>