<div class="event-photo buffer-both">
  <a href="<%=photo.photo.url%>" data-toggle="lightbox" data-gallery="multiimages"><%=image_tag(photo.photo.thumb.url)%></a>

  добавил <%= render partial: 'users/user', object: photo.user %>
</div>